
    <!-- Footer -->
    <footer id="footer" class="footer-dark">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-12 col-md-6 col-lg-4 text-center-xs p-0 py-5 px-3">
                        <!-- logo -->
                        <span class="h--70 mt--n20 d-inline-flex align-items-center">
								<img src="{{ asset('assets/images/logo/logo_light.svg') }}" width="110" height="70"
                                     alt="...">
						</span>
                        <div class="mt-4">
                            <a href="#" class="btn btn-sm btn-facebook transition-hover-top mb-2 rounded-circle"
                               rel="noopener" aria-label="facebook page">
                                <i class="fi fi-social-facebook"></i>
                            </a>
                            <a href="#" class="btn btn-sm btn-twitter transition-hover-top mb-2 rounded-circle"
                               rel="noopener" aria-label="twitter page">
                                <i class="fi fi-social-twitter"></i>
                            </a>
                            <a href="#" class="btn btn-sm btn-linkedin transition-hover-top mb-2 rounded-circle"
                               rel="noopener" aria-label="linkedin page">
                                <i class="fi fi-social-linkedin"></i>
                            </a>
                            <a href="#" class="btn btn-sm btn-youtube transition-hover-top mb-2 rounded-circle"
                               rel="noopener" aria-label="youtube page">
                                <i class="fi fi-social-youtube"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 py-5 text-center-xs">
                        <h4 class="h5">Contact</h4>
                        <div class="mt-4">
                            <ul class="list-unstyled m-0">
                                <li class="list-item py-1">
                                    <a href="tel:+01-555-5555"
                                       class="clearfix h3 mb-0 d-inline-block font-weight-medium text-info">
                                        <i class="float-start fi fi-phone h4"></i> 785-388-9990
                                    </a>
                                </li>
                                <li class="list-item py-2">
                                    <a href="mailto:info@mycomany.com"
                                       class="clearfix py-1 h5 d-inline-block font-weight-medium text-warning">
                                        <i class="float-start fi fi-envelope h4 mt--n5"></i> info@mail.com
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bg-distinct py-3 clearfix">
                <div class="container clearfix font-weight-light text-center-xs">
                    <div class="fs--14 py-2 float-start float-none-xs m-0-xs">
                        &copy; My Company Inc.
                    </div>
                </div>
            </div>
    </footer>
    <!-- /Footer -->
